{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block body %}
    <div>
        <span>Trier par catégorie :</span>
        <a href="{{ path('app_app') }}" class="linkProduct">Tous les produits</a>
        {% for category in categories %}
            <a href="{{ path('app_categories', {'id': category.id}) }}" class="linkProduct">{{ category.name }}</a>
        {% endfor %}
    </div>
    <div class="allProduct">
        {% for product in products %}
            <div class="product">
                <h2>{{ product.name }}</h2>
                <img src="{{ product.imageUrl }}" alt="image" width="200" height="200">
                <p>{{ product.price }}0 €</p>
                <p>Il reste {{ product.stock }} produits</p>
                <a href="{{ path('app_info_product', {'id': product.id})  }}" class="linkProduct">Voir le produit</a>
            </div>
        {% endfor %}
    </div>


{% endblock %}
